<% obj.each do |a| %>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
        <div class="article-title">
          <%= link_to a.title, article_path(a) %>
        </div>
        <div class="article-body">
          <% if a.user %>
            <small>Created by <%= link_to a.user.username, user_path(a.user) %> on <%= a.created_at.strftime("%d %b. %Y") %></small>
          <% end %>
          <br />
          <%= truncate(a.description, length: 64) %>
        </div>
        <hr />
        <% if a.categories.any? %>
          <p>Posted in: <%= render a.categories %></p>
        <% end %>
        <% if logged_in? && (current_user == a.user || current_user.admin?) %>
          <div class="article-index-actions">
            <%= link_to "Edit this Article", edit_article_path(a), class: "btn btn-xs btn-primary" %>
            <%= link_to "Delete this Article", article_path(a), method: :delete,
                                                data: {confirm: :"Are you sure?"},
                                                class: "btn btn-xs btn-danger" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
